<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapidor Claculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div id="vueapp">
        <div class="container" id="canvas">
            <h2>Amount Calculator</h2>
            <!--Inputs here-->
            <div id="inputs" >
                <input id="price" placeholder="Price" type="number" v-model="price" v-on:change="change" v-on:keyup="change"><br>
                <input id="quantity" placeholder="Quantity" type="number" v-model="quantity" v-on:change="change" v-on:keyup="change">
                <p>Discount</p>
                <input type="range" min=0 max=100 value=0 v-model="discount" v-on:change="change">
                <p>{{ discount }}</p>
                <input type="radio" name="cess" value=0 id="b2b" checked="checked" v-model="cess" v-on:change="change">
                <label for="b2b">B2B</label>
                <input type="radio" name="cess" value=0.01 id="b2c" v-model="cess" v-on:change="change">
                <label for="b2b">B2C</label>

            </div>

            <!--Outputs here-->
            <div id="outputs" class="btn-group">
                
                    <div>Gross Amount</div>
                    <div>{{ gross_amount }}</div>
                
                
                    <div>Discount Amount</div>
                    <div>{{ discount_amount }}</div>
                
                
                    <div>Cess Amount</div>
                    <div>{{ cess_amount }}</div>
                
                
                    <div>Total Bill with Discount</div>
                    <div>{{ total_bill_with_discount }}</div>
               
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>