#canvas{
    width: 300px;
    height: 500px;
    border: 2px solid rgb(179, 176, 176);
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    color: gray;
}
input{
    margin: 2px auto;
    width: 99%;
}
#inputs{
    border-bottom: 1px solid gray;
}

input[type="radio"]{
    width: 10%;
}
p{
    margin-top: 10px;
    font-size: 20px;
}
#outputs{
    margin-top: 10px;
    
    width: 50%;
    display: block;
}
.btn-group div{
    background-color: rgb(218, 214, 214);
    border: 1px solid;
    text-align: left;
    margin-bottom: 5px;
    margin-left: px;
    float: left;
    width: 50%;
    height: 50px;
    padding-left: 5px;
}
.btn-group div:nth-child(even){
    background-color: white;
    border: 1px solid;
    border-left: none;
    margin-bottom: 5px;
    margin-left: px;
    float: left;
    text-align: center;
    width: 50%;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

  
#outputs{
    width: 100%;
}
